{% extends 'base.html.twig' %}

{% block title %}
	All burgers -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="w-75 mx-auto m-5">

		<div class="row row-cols-2">
			<h1>
				CRUDcroustillant's burgers !
			</h1>
			<form action="{{ path('burger_index') }}" method="get" class="d-flex mb-4">
				<input type="text" name="ingredient" class="form-control me-2" placeholder="Entrez un ingrédient" value="{{ ingredient }}">
				<button type="submit" class="btn btn-primary">Rechercher</button>
			</form>

		</div>


		{% include 'components/burgersDisplay.html.twig' with { 'burgers' : burgers} %}

	</div>
{% endblock %}
