<footer class="bg-dark text-center text-lg-start py-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">CRUDcroustillant</h5>
                <p>
                    Le meilleur endroit pour découvrir des burgers croustillants et savoureux. Explorez nos offres et savourez le meilleur !
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Liens Utiles</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="{{ path('home') }}" class="text-light">Accueil</a></li>
                    {# Add more links here as needed #}
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Suivez-nous</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-light">Facebook</a></li>
                    <li><a href="#" class="text-light">Instagram</a></li>
                    <li><a href="#" class="text-light">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center py-3">
        <p>&copy; 2024 CRUDcroustillant. Tous droits réservés.</p>
    </div>
</footer>
