{% extends 'base.html.twig' %}
{% block title %}Liste des Burgers - {{ parent() }}{% endblock %}

{% block body%}
<h1> Bienvenue sur la liste de tout les burgers !</h1>

<ul>
    {% for burger in burgers %}
        <li>
            <h3>{{ burger.name }}</h3>
            <p>{{ burger.description }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}

