{% extends 'base.html.twig' %}
{% block title %}Accueil -
	{{ parent() }}
{% endblock %}

{% block body%}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="display-4">Bienvenue sur CRUDcroustillant !</h1>
				<p class="lead">Votre application de gestion de burger.</p>
			</div>
		</div>
	</div>
{% endblock %}
